.submit {
    margin-top: 20px;
}

.applyButton {
    width: 90%;
    background-color: "rgb(242, 168, 159)";
}

.applyButton:hover {
    background-color: "rgb(242, 168, 159)";
}

.drawerTitle {
    margin-top: 10%;
    text-align: center;
    font-family: "Helvetica Neue";
    margin-bottom: 5%;
}

.toggle {
    text-align: center;
    justify-content: center;
    width: 300px;
}

.css-3rayz0-MuiFormControlLabel-root {
 margin: 0;
}