  /* Center the contents of the login page */
  .register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .header-text {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
  }
  
  /* Style the container for the register form */
  .register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 80px 20px 80px 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    margin-top: 0px;
    height: 600px;
    width: 400px;
  }

  
  
  /* Style the input fields for the username and password */
  .input-edits {
    font-size: 1.2rem;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    margin: 10px 28px 10px;
    border: none;
    background-color: #fff;
    width: 85%;
    box-sizing: border-box;
    border: 1px solid black;
    line-height: 30px;
    padding: 10px;

  }
  
  .btn-edits {
    background-color: #d57a6f;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    padding: 10px 0px 10px;
    margin: 10px 0px;
    cursor: pointer;
    box-sizing: border-box;
    width: 86%;
    border-radius: 10px;
    border-style: none;
  }
  
  .url-text {
    color: #d57a6f;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
  }
    
    
    .login-text {
      font-size: 0.8rem;
      margin-top: 0px;
      color: black;
    }

    .title-text {
      font-size: 1.6rem;
      color: black;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 3px;
    }
    
    .error-text {
        font-size: 1rem;
        align-items: center;
        font-weight: bold;
        padding-left: 45px;
    }

    .titles-text {
        margin: 0px 28px;
        font-size: 1rem;
        font-weight: bold;

    }

    .googleButton2{
      background-color: #DB4437;
      color: #fff;
      font-size: 1.2rem;
      border-style: none;
      font-weight: bold;
      border-radius: 10px;
      padding: 10px 0px 10px;
      margin-bottom: 10px;
      cursor: pointer;
      box-sizing: border-box;
      width: 86%;
    }

    .google-icon2 {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  
    .facebookButton2 {
      background-color: #4267B2;
      color: #fff;
      font-size: 1.2rem;
      border-radius: 10px;
      border-style: none;
      font-weight: bold;
      border: none;
      padding: 10px 0px 10px;
      margin-bottom: 20px;
      cursor: pointer;
      box-sizing: border-box;
      width: 86%;
    }
    
    .facebook-icon2 {
      width: 20px;
      height: 20px;
      margin-right: 7px;
    }
    