.box,
.container {
  flex: 1;
  justify-content: 'space-between';
  padding: 8;
  flex-direction: 'row';
  align-items: 'center';
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}

.rounded {
  border-radius: 8px;
  -moz-border-radius: 15px;
  vertical-align: middle;
}

.box {
  width: 100%;
  padding: 8px;
  border: 1.5px solid #000;
  border-radius: 8px;
  -moz-border-radius: 15px;
}

.linkPrev {
  width: 100px;
  background-color: #000;
}

.text {
  font-weight: bold;
  font-size: 25px;
  text-transform: capitalize;
  color: #5D5E5D;
  line-height: 0.7;
}