.hover-box {
  position: absolute; /* change to absolute */
  width: 150%;
  height: 150%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: #D57A6F;
  z-index: -1;
  border-radius: 5px;
}

.hover-box.active {
  opacity: 0.5;
}

.NavLink {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
  animation: bounce 0.6s;
}




